.card {
    width: 286px;
    height: 360px;
    border: 1px solid silver;
    
}
.img {
    width: 100%;
    height: 50%;
}
.img img {
    width: 100%;
    height: 100%;
}
.info {
    width: 100%;
    height: 50%;
    padding: 20px;
    box-sizing: border-box;
}
.info h4, p {
    margin: 10px 0px;
}
.info button {
    width: 120px;
    height: 30px;
    background-color: rgb(16, 170, 231);
    border: none;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    cursor: pointer;
} 
