* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: #222324;
    text-transform: capitalize;
    font-family:  sans-serif;
}

.header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;   
}
.left {
    width: 50%;
    display: flex;
    align-items: center;
    margin-left: 80PX;

}
.left div {
    margin: 0 10px;
}
.right {
    width: 50%;
    display: flex;
    font-size: 20px;
}
.header a {
    text-decoration: none;
    color: snow;
    margin: 5px;
    font-size: 20px;
}
.den {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 80px;
    text-transform: none;
}

.btn {
    width: 110px;
    height: 35px;
    border: 1px solid rgb(248, 248, 248);
    border-radius: 20px;
    font-size: 20px;
    margin: 20px 15px 0px 70%;
    color: rgb(250, 244, 244);
    background-color: #222324;
    
}
 .btn:hover {
    background-color: rgb(248, 248, 248);
   color: tomato;

}
.txt {
    font-size: 40px;
    color: snow;
    text-align: left;
    box-sizing: border-box;
    margin-top: 80px;
    margin-left: 150px;
    
}
.txt2 {
    padding-top: 60px;
    color: rgb(165, 165, 165);
    font-size: 20px;
}
.img {
    box-sizing: border-box;
    text-align: center;
    margin-top: 30px;
}
hr {
    
    width: 75%;
    text-align: justify;

}