* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    /* background-color: #FFFFFF; */
}
/* <!-- მარცხენა კონტაქტი --> */
.header-left {
   
    width: 43%;
    height: 110px;

}

.contact-left {
    width: 25%;
    height: 50px;
   
}
.contactus {
    width: 300px;
    display: flex;
    
}
.contactus div {
    margin-top: 10px;
    margin-left: 10px;
}
.input input {
    width: 70px;
    height: 20px;
    border: 0;
    border-bottom: 1px solid black;
   
}
.menu-left {
    display: flex;
    width: 230px;
    height: 30px;
    margin-left: 150px;
    margin-top: 20px;

}
.menu-left div {
    margin-right: 70px;
  
}
/*  <!-- ლოგო სურათი --> */
.logoimg {
    width: 180px;
    height: 110px;
    cursor: pointer;
}
/* <!-- მარჯვენა კონტაქტი --> */

.header-right {
   
    width: 43%;
    height: 110px;
    display: flex;
}

.contact-right {
   display: flex;
   width: 00px;
   height: 50px;
   margin-left:50px

}
.contact-right div {
    margin-top: 10px;
    margin-left: 10px;
}
.menu-right {
    display: flex;
    width: 230px;
    height: 30px;
    margin-right: 80px;
    margin-top: 65px;

}
.menu-right div {
    margin-left: 50px;
   
}
/* <!-- სლაიდშოუ --> */
.carousel-item img {
    width: 100%;
    height: 500px;
    margin: 30px 0;
}
 
/* --------------line----------- */
.bold-line {
   display: flex;
   justify-content: baseline;
   z-index: +3;
  
}
.bold-line-left, .bold-line-right {
    width: 47%;
    height: 2px;
    background-color: black;
    margin: 15px 0;
}
.bold-line p {
    margin: 0 1%;
    font-size: 20px;
    font-weight: bold;

}

/*  4photos-div */


.four-photos-div {
    display: flex;
    width: 99%;
    height: 200px;
    margin: 30px auto;
    box-shadow: 5px 10px 10px 5px;
}
.four-photos-div img {
    height: 100%;
    width: 25%;

}

/* -------  categories -------*/


.categories {
    width: 100%;
    height: 100vh;
    /* background-color: aquamarine; */
}
.categories-div {
    width: 25%;
    height: 50%;
    margin: auto;
    /* background-color: brown; */
    
  
    transform: rotate(-45deg);

}
.categories p {
    margin: 0;
}

.categories-div {
    display: flex;

}
.para {
    width: 50px;
    height: 44px;
}
.para2  {
    transform: rotate(270deg);
}


.categories-div img {
    width: 180px;
    height: 180px;
    box-shadow: 10px 10px 10px;
    grid-area: pic;
    /* transform: rotate(-45deg); */
} 


/* ----------------------GALERY------------- */
.gallery {
    width: 100%;
    height: 50vh;
}
.gallery img {
    width: 18%;
    box-shadow: 10px 5px 10px;
    margin: 30px 10px;
}


    /* -----------footer----------- */

    .footer {
        width: 100%;
        height: 40vh;
        background-color: rgb(65, 0, 65);
        color: white;
        display: flex;

    }
    .footer div {
        width: 20%;
        text-align: center;
        margin-top: 20px;
    }

    .footer-social img {
        width: 20px;
        height: 20px;
    }