@font-face {
    font-family: 'font1';
    src: url(../font/opensans-regular-webfont.woff);
}
@font-face {
    font-family: 'font2';
    src: url(../font/rijG6I_IOXJjsH07UEo2mw.woff2);
}
@font-face {
    font-family: 'font3';
    src: url(../font/ZqlneECqpsd9SXlmAsD2E1tXRa8TVwTICgirnJhmVJw.woff2);
}
@font-face {
    font-family: 'font4';
    src: url(../font/9VWMTeb5jtXkNoTv949Npfk_vArhqVIZ0nv9q090hN8.woff2);
}