* {
     margin: 0;
    padding: 0;
}
.nav-bar {
    width: 100%;
    height: 100px ;
    background-color: #161416;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    display: flex;
    z-index: 111;
}
.nav-bar-left {
    width: 30%;
    height: 100%;
    font-family: font4;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding-top: 35px;

}
.nav-bar-right {
    width: 70%;
    height: 100%;
   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
  
    transition: 0.5s ease;
    font-family: font2;  
}
.nav-bar-right a {
      text-decoration: none;
       color: #FFFFFF;
}
.nav-bar-right a:hover{
    color: #FD6262;
}
.nav-bar-right-menu {
    margin-left: 30px;
    font-size: 14px;
    
}
.nav-bar-button button {
width: 120px;
height: 45px;
background-color: #161416;
color: white;
border: 1px solid white;
border-radius: 3px;
font-size: 14px;
margin-left: 40px;
transition: 0.5s;
cursor: pointer;
}
.nav-bar-button button:hover {
    background-color: #889CE7;
}


.main-img {
    width: 100%;
    height: 90vh;
}
.main-img img {
    width: 100%;
    height: 100%;
}
.main-text {
 font-size: 60px;
 position: absolute;
 top: 150px;
 left: 100px;
 font-family: font3;
}
.main-box {
    width: 100%;
    height: 850px;
    background-color: #141416;
    font-family: font1;
    font-weight:none;
   
}
.box {
    width: 90%;
    height: 1000px;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
     position: absolute;
    top: 350px; 
}
.box-outer {
    width: 33.3%;
    height: 33.3%;
    display: flex;
    
    
}
.box-inner {
    width: 90%;
    height: 90%;
    margin: 5%;
     border: 1px solid #49494A;
    background-color: #141416;
}
.box-header{
    display: flex;
    width: 90%;
    height: 10%;
    color: white;
    margin: 5%;
} 
.box-header-left {
    width: 90%;
    height: 100%;
}
.box-header-right {
    width: 10%;
    height: 100%;
}
.box-header-right img {
    width: 20px;

}
.box-text {
    width: 90%;
    height: 50%;
    margin: 5%;
    transition: .5s;
}
.box-text h3 {
    color: #FFFFFF;
}
.box-text p {
    color: #3F4349;
}
.box-text h3:hover, p:hover {
   
    color: #FD6262;
}
.box-text p{
    padding-top: 10px;
}

.box-footer {
    width: 90%;
    height: 10%;
    margin: 5%;
    display: flex;
    color: white;
    justify-items: baseline;
    border-top: 1px solid #3F4349;
    padding-top: 20px;

}
.box-footer img  {
    width: 17px;
    height: 17px;
}  
.box-footer div {
    display: flex;
}
.box-footer-img1,.box-footer-img2,.box-footer-txt3  {
margin-right: 10px;

}
.box-footer-txt1, .box-footer-txt2  {
    margin-right: 25px;
}
.box-footer-txt2 {
    margin-right: 50%;
}

.chat-box button {
    width: 70px;
    height:70px;
    background-color: #FD6262;
    border: none;
    border-radius: 10px; position: fixed;
   right: 20px;
   bottom: 20px;
   cursor: pointer;
}
.chat-box img {
    width: 27px;
    height:27px;
   
}

.footer {
    width: 100%; 
    height: 500px; 
    background-color: #FD6262;
    display: flex;
   color: #FFFFFF;
   background-color: #141416;
   font-family: font1;

}
.footer1 {
    width: 30%;
    height: 50%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-left: 50px;
}

.footer1-logo {
    font-size: 15px;
    padding-bottom: 10px;
    display: flex;
}
.foter1-adress {
font-size: 17px;
line-height: 40px;
color: #8A8A8A;
margin-top: 20px;
margin-left: 10px;
}
.footer2 {
    width: 15%;
    height: 50%;
    margin-top: 100px;
    font-size: 17px;
    
}
.footer2 a {
    text-decoration: none;
    color: #8A8A8A;
    

}
.footer2 button {
    width: 120px;
height: 55px;
background-color: #FD6262;
color: #141416;
border: 1px solid #141416;
border-radius: 6px;
font-size: 16px;
transition: 0.5s;
cursor: pointer;
}
.footer2 button:hover {
    background-color: #141416;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
}
.footer3 {
    width: 30%;
    height: 60%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: #8A8A8A;
    align-items: center;
}
.footer3-text {
    font-size: 18px;
}
.footer3-box {
    margin-top: 20px;
    width: 65%;
    display: flex;
    flex-direction: column;
}
.footer3-box input {
    margin-top: 10px;
    height: 50px;
    background-color: #141416;
    border: 1px solid #8A8A8A;
    border-radius: 6px;
}
.footer3-box button {
    margin-top: 40px;
    width: 120px;
    height: 55px;
    background-color: #161416;
    color: #8A8A8A;
    border: 1px solid #8A8A8A;
    border-radius: 3px;
    font-size: 18px;
    transition: 0.5s;
    cursor: pointer;
}
.footer3-box button:hover {
    background-color: #889CE7;
    color: #141416;
}
.footer4 {
    width: 20%;
    height: 80%;
    margin-top: 100px;
    color: #8A8A8A;
}
.footer4-text {
    font-size: 20px;
    margin-left: 40px;
}
.footer4-logo {
    margin-left: 40px;
    margin-top: 10px;
}
.footer4-logo img {
    margin-right: 5px;
}
.footer4-rights {
    width: 150px;
    margin-left: 40px;
    margin-top: 150px;
    font-size: 15px;
}