.body {
    width: 100%;
    height: 550px;
    background-color: turquoise;

}
.card1, .card2, .card3, .card4 {
    background-color: white;
    
}
.header {
    background-color: rgb(24, 150, 122);
    
}
.header p {
    text-align: center;
    color: white;
    height: 90px;
    font-size: 70px;
    margin: 0px 0px 20px;
}
.footer {
    background-color: rgb(56, 56, 61);
    color: whitesmoke;
    height: 60px;
    text-align: center;
    font-size: 40px;
    
}
.footer p {
    margin-top: 0px;

}
.card1 { 
    width: 250px;
    height: 380px;
    border: 1px solid rgb(179, 228, 231);
    border-top-left-radius: 30PX;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    float: left;
    margin-left: 5%;
}
.img {
    width: 100px;
    height: 140px;
     
}
.img img {
    width: 100px;
    height: 140px;
    border-top-left-radius: 30PX;
    border-top-right-radius: 30px;
    margin-left: 70%;
}
.info {
    text-align: center;
    margin-top: 0;
}
.bttn {
    margin-left: 35px;
    
}
.bttn button {
    background-color: black; 
    border: none;
    color: white;
    width: 180px;
    height: 30px;
    border-radius: 20px;
    cursor: pointer;
    
}
.links img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.links{
    margin-left: 35%;
    padding-bottom: 5%;
   
}

/*CARD 2 */
.card2 { 
    width: 250px;
    height: 380px;
    border: 1px solid rgb(179, 228, 231);
    border-top-left-radius: 30PX;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    float: left;
    margin-left: 5%;
}
/*CARD 3 */
.card3 { 
    width: 250px;
    height: 380px;
    border: 1px solid rgb(179, 228, 231);
    border-top-left-radius: 30PX;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    float: left;
    margin-left: 5%;
}
/*CARD 4 */
.card4 { 
    width: 250px;
    height: 380px;
    border: 1px solid rgb(179, 228, 231);
    border-top-left-radius: 30PX;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    float: left;
    margin-left: 5%;
}
