* {
    margin: 0;
    padding: 0;
   }
/* h1 h2 h3 h4 h5 h6 {
    font-family: font1;
} */
@font-face {
    font-family:font1;
    src: url(fonts/font1.woff2);
}
@font-face {
    font-family:font2;
    src: url(fonts/font2.woff2);
}
@font-face {
    font-family:font3;
    src: url(fonts/font3.woff2);
}
@font-face {
    font-family:font4;
    src: url(fonts/font4.woff2);
}
.navbar {
    width: 100%;
    height: 15vh;
    background-color: #4853AC;
    display: flex;
    flex-direction: row;
    color: white;
}
.logo img {
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-right: 10px;
}
.logo {
    width: 20%;
    height: 100%;
    display: flex;
    margin-top: 40px;
    margin-left: 200px;
}
.logo a {
    text-decoration: none;
    color: white;
}
.service {
    width: 55%;
    margin-top: 40px;
    display: flex;
}
.service a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.service-img {
    margin:  -5px 20px 0 20px;
}
.service-img img {
    width: 30px;
}

.main-img img {
width: 100%;
height: 100%;

}
.main-img {
    height:1000px;
    width: 100%;
    position: relative;

}
.main-txt {
position: absolute;
top: 50%;
left: 200px;
font-size: 40px;
}

.second-div {
    width: 100%;
    height: 80vh;
    background-color: #3C3C4E;
    color: white;
}
.second-div-oute-color {
    width: 60px;
    height: 10px;
    background-color: white;
    margin-bottom: 20px;
    
}
.second-div-outer {
margin-left: 200px;
padding-top: 100px;
font-size: 40px;

}
.second-div-inner {
    display: flex;
    margin-left: 200px;
    align-content:stretch;
}
.second-div-inner div {
    margin-right: 100px;
    margin-top: 20px;
}
.inner-divs-colored {
    width: 35px;
    height: 8px;
    background-color: #4E5AC3;
    margin-bottom: 10px;
}

.third-div-img {
position: relative;
}
.third-div-txt {
    position: absolute;
    top: 260%;
    margin-left: 200px;
    font-size: 40px;

}
.third-div-txt p {
    margin-top: 30px;
}
.third-div-colored {
    width: 55px;
    height: 13px;
    background-color: #4E5AC3;
    margin-bottom: 20px;

}
.fourth-div {
width: 100%;
height: 100vh;
}
.forth-div-top {
    width: 50%;
    height: 50%;
     margin-left: 200px;
    margin-top: 30px; 
    font-size: 40px;
}

.forth-div-colored {
    width: 55px;
    height: 13px;
    background-color: #4E5AC3;
    margin-bottom: 8px;
}
.forth-div-top p {
    margin-top: 50px;
}
.fourth-div-bottom {
width: 100%;
height: 53%;
display: flex;
flex-wrap: wrap;
}
.fourth-div-hover {
    width: 33.3%;
    height: 100%;
    position: relative;
}
.hover-img img {
    width: 100%;
    height: 100%;
}
.hover-txt {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0;
    color: white;
    background-color: rgba(0,0,128, .9);
    text-align: center;
    padding-top: 30%;
    
}

.hover-txt:hover {
    opacity: .5;
    transition: 0s;

}
.fifth-div{
    width: 100%;
    height: 100%;
    margin-top: 30%;
}
.fifth-div-top {
    width: 80%;
    height: 30%;
    margin-left: 200px;
    font-size: 40px;
    
}

.fifth-div-top-colored {
    width: 55px;
    height: 15px;
    background-color: #4E5AC3;
    margin-bottom: 15px;
}
.fifth-div-top p {
    margin-top: 50px;
}
.fifth-div-bottom {
    width: 80%;
    height: 50%;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-left: 200px;
    
}
.sixth-div {
    width: 100%;
    height: 105vh;
    background-color: #DADADA;
}
.sixth-div-top {
    padding-top: 100px;
    margin-bottom: 35px;
}

.sixth-div-bottom {
    width: 100%;
    height: 40vh;
    /* margin-top: 50px; */
    display: flex;
}
.sixth-div-bottom img {
    width: 100%;
    height: auto;
}
.sixth-div-bottom div {
    width: 25%;
    height: 100%;
}
.mw1{
    position: relative;
    width: 100%;
    height: 100%;

}

.seventh-div, .seventh-div img {
    width: 100%;
    height: 100vh;
    position: relative;
}
.seventh-div-colored {
    width: 55px;
    height: 15px;
    background-color: white;
    margin-top: -30px;
   
}
.seventh-div-txt, .seventh-div-colored {
    position: absolute;
    top: 100px;
    left: 200px;
    font-size: 40px;
}
.seventh-div-bottom {
    display: flex;
    position: absolute;
    top: 300px;
    left: 200px;
    color: white;
    font-size: 25px;

}
.seventh-div-bottom div {
    width: 250px;
    height: 50%;
}
.eights-div {
    width: 100%;
    height: 100vh;

}
.eights-div-top {
    width: 80%;
    height: 30%;
    margin-left: 200px;
    margin-top: 100px;
    font-size: 40px;
}
.eights-div-bottom {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
    margin-top: 70px;
}
.eigthts-bottom-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content:flex-end;
    margin-right: 50px;

}
.inputs {
    width: 400px;
    height: 30px;
    border: 2px solid black;
}
.inputs:hover {
    border: 1px solid gray;

}
#mssg {
    width: 400px;
    height: 150px;
    border: 2px solid black;

}
#mssg:hover {
    border: 1px solid gray;
}
#bttn {
    width: 130px;
    height: 35px;
    background-color: #4E5AC3;
    border: none;
    color: white;
    font-size: 18px;
    margin-left: 250px;
   justify-content: flex-end;
}
#bttn:hover {
    background-color: black;
    transition: .5s;
}
.footer {
    width: 100%;
    height: 200px;
    background-color: #3C3C4E;
    margin-top: 100px;
    color: white;
    display: flex;
}
.footer-left {
    width: 40%;
    height: 50%;
    margin: 70px 0 0 200px;
    
}
.footer-right {
    width: 40%;
    height: 50%;
    margin-top: 70px;
}
.footer-right img {
width: 30px;
height: 30px;
margin: 10px;
}
.menu-bar {
position: fixed;  
top: 170px;
right: 50px;
cursor: pointer;

}
.msg {
    width: 70px;
    height: 70px;
    background-color: black;
    margin-top: 50px;
    margin-left: -20px;
}
.msg img {
    width: 40px;
    height: 40px;
    margin: 15px;

}
.menu-bar {
    background-color: transparent;
}
