body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  

}
/* --------ნავ ბარი+მენიუ+სoციალი -----*/
.header {
    width: 100%;
    height: 80px;
    background-color: #F2F2F2;
    display: flex;
    text-transform: capitalize;
    color: #696969;
    position: fixed;
    z-index: 1;
    
}
.cont {
    width: 80px;
    height: 80px;
    position: fixed;
    right: 0;
    bottom: 0;
    cursor: pointer;
}
.cont img {
    width: 100%;
    height: 100%;

}
.navbar {
    width: 80%;
    height: 50px;
    display: flex;
    margin-left: 150px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
}
.search input {
    border: none ;
    height: 30px;
    background-color:#F2F2F2 ;
   border-bottom: 1px solid rgb(66, 66, 66);
} 
.search img {
    width: 15px;

}
.menu{
    display: flex;
    flex-direction: row;
    margin-left: 80px;
    cursor: pointer;
    font-size: 15px;
}
.menu div {
    margin-left: 30px;
}
.menu div:hover {
    color: #194D91;
}
.social {
    display: flex;
    margin-left: 150px;
    cursor: pointer;
    
}
.social img {
    width: 20px;
    margin: 10px;

}
.middle {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 80px;

}
.hover {
    position: absolute;
    color: white;
    margin-left:33% ;
    margin-top: 95px;

}
.hover h1 {
    font-size: 70px;
    margin: 0;
    
}
.hover h4 {
    text-align: center;
    margin: 5px;
    font-weight: 100;
}
.txt {
    width: 40%;
    
    margin-top: 40px;
    margin-left: 30%; 
    color: #696969;
    text-align: center;
}
/* -- დიდი სურათი და ტექსტი- */
.bottom {
    width: 90%;
    height: 300px;
    margin-left: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom div {
    width: 300px;
    height: 250px;  
    margin-right: 20px;

}
.bottom img {
    width: 100%;
    height: 100%;
}
.bottom p {
    width: 140px;
    height: 50px;
    background-color: white;
    color: rgb(60, 91, 218);
    font-size: 20px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
    cursor: pointer;
    transition: .5s;
}
.overlay, .overlay1, .overlay2 {
    width: 140px;
    height: 40px;
    
    
    position: absolute;
    opacity: 0;

}
.travel p:hover, .eat p:hover, .relax p:hover {
    background-color: rgb(63, 98, 238);
    color: white;
    opacity: 1;
}
/* ------------შუა მენიუ + 3 დიდი სურათი---------------*/
.middle-menu {
    width: 100%;
    height: 140px;
    background-color: #F2F2F2;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 80px;
    font-size: 25px;
}
.one, .two, .three, .four, .five {
    width: 15%;
}
.middle-menu img {
    width: 20px;
    height: 20px;
}
.middle-menu span {
    font-weight: bold;
}
.middle-menu p {
    margin: 0;
}
.one {
    border-right: 1px solid black;
}
.picture {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left:60px ;
    margin-bottom: 30px;
}
/*pic1*/
.pic1 {
    width: 70%;
    height: 830px;
    border: 0.1px solid #B9C4C8;
}
.pic1 hr {
    
    border: 1px solid;
    
}
.pic1 img {
    width: 100%;
    height: 530px;
}
.profile {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.profile img {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-top: 35px;
    display: inline;
}
.admin {
    width: 160px;
    height: 50px;
    font-size: 5px;
    margin-left: 80px;
    margin-bottom: 20px;
    display: inline-block;

}
.admin h4 {
    margin: 0px;
    font-size: 10px;
    
}
.admin p {
    margin: 0;
    font-size: 13px;
}
.story h3, p {
    margin-top: 0px;
    margin-right: 15px;
    font-size: 12px;
    margin-left: 30px;
    font-size: 15px;

}
.icon  {
    width: 100%;
    height: 20px;
    
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 15px;
}
.icon img {
    width: 19px;
    height: 19px;
}
.left-icon, .middle-icon, .right-icon {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.zero {
    margin-left: 10px;
}
.right-icon {
    margin-left: 82%;
}
/*pic2*/
.pic2 {
    width: 70%;
    height: 830px;
    border: 1px solid silver;
    margin-top: 40px;
}
.pic2 hr {
    
    border: 1px solid;
    
}
.pic2 img {
    width: 100%;
    height: 530px;
}
.profile2 {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.profile2 img {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-top: 35px;
    display: inline;
}
.admin2 {
    width: 160px;
    height: 50px;
    font-size: 5px;
    margin-left: 80px;
    margin-bottom: 20px;
    display: inline-block;

}
.admin2 h4 {
    margin: 0px;
    font-size: 10px;
    
}
.admin2 p {
    margin: 0;
    font-size: 13px;
}
.story2 h3, p {
    margin-top: 0px;
    margin-right: 15px;
    font-size: 12px;
    margin-left: 30px;
    font-size: 15px;

}
.icon2  {
    width: 100%;
    height: 20px;
    
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 15px;
}
.icon2 img {
    width: 19px;
    height: 19px;
}
.left-icon2, .middle-icon2, .right-icon2 {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.zero2 {
    margin-left: 10px;
}
.right-icon2 {
    margin-left: 82%;
}
/*pic3*/
.pic3 {
    width: 70%;
    height: 830px;
    border: 1px solid silver;
    margin-top: 40px;
}
.pic3 hr {
    
    border: 1px solid;
    
}
.pic3 img {
    width: 100%;
    height: 530px;
}
.profile3 {
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: row;
}
.profile3 img {
    width: 100%;
    height: 100%;
    margin-left: 30px;
    margin-top: 35px;
    display: inline;
}
.admin3 {
    width: 160px;
    height: 50px;
    font-size: 5px;
    margin-left: 80px;
    margin-bottom: 20px;
    display: inline-block;

}
.admin3 h4 {
    margin: 0px;
    font-size: 10px;
    
}
.admin3 p {
    margin: 0;
    font-size: 13px;
}
.story3 h3, p {
    margin-top: 0px;
    margin-right: 15px;
    font-size: 12px;
    margin-left: 30px;
    font-size: 15px;

}
.icon3  {
    width: 100%;
    height: 20px;
    
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-left: 15px;
}
.icon3 img {
    width: 19px;
    height: 19px;
}
.left-icon3, .middle-icon3, .right-icon3 {
    display: flex;
    margin-left: 10px;
    margin-top: 10px;
}
.zero3 {
    margin-left: 10px;
}
.right-icon3 {
    margin-left: 82%;
}
/* --------------ლურჯი, ქვედა ნავ ბარი---------- */
.bottom-bar {
    width: 100%;
    height: 80px;
    background-color: #2573DA;
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    justify-content: center;
    border: none;
    
}
.bottom-bar img {
    width: 20px;
    height: 20px;
}
.face, .gram, .rest {
    margin-right: 150px;
    cursor: pointer;
}
.ter {
    cursor: pointer;
}
/* ---------პატარა სურათები ჰოვერით--------- */
.slider {
    width: 100%;
    display: flex;
    flex-direction: row; 
}
.slider img {
    width: 269px;
    height: 250px;
    z-index: -1;
}
.see, .door, .coffe, .table, .food  {
    position: relative;
}
.imgsee, .imgdoor, .imgcoffe, .imgtable, .imgfood  {
    display: block;
    width: 100%;
    height: auto;

}
.over {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.2s ease;
    background-color: #4b4a4a;
  }

.see:hover .over {
    opacity: .7;
}
 .door:hover .over {
    opacity: .7;
}
 .coffe:hover .over {
    opacity: .7;
}
 .table:hover .over {
    opacity: .7;
} 
.food:hover .over {
    opacity: .7;
}
.tx {
    color: white;
    font-size: 20px;
    position: absolute;
    text-align: center;
    top: 25%;
}

  /* --------ფუტერი------ */
.footer {
    background-color: #696969;
    width: 100%;
    height: 300px;
     
}
  .footer1 {
      width: 76%;
      height: 65%;
      margin-left: 10%;
      display: flex;
      
      color: #FFFFFF;
      
  }
  .poto , .poto img {
      width: 130px;
      height: 130px;
      margin-top: 20px;
      margin-left: 20px;
  }
  .abou {
      width: 400px;
      height: 100px;
  }
  .abou, .abou h3, p {
      
      margin-left: 20px;
      margin-top: 20px;
  }
   .abou span {
      text-decoration: underline;
      cursor: pointer;
      margin-left: 20px;
      margin-top: 60px;
  } 
  .join {
      width: 300px;
      height: 150px;
      margin-left: 180px;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      color: #FFFFFF;
  }
  .join input {
      width: 270px;
      height: 30px;
      background-color: #696969;
      border: 1px solid #FFFFFF;
  }
  .join button {
    width: 278px;
    height: 30px;
    color: #FFFFFF;
    background-color: rgb(79, 79, 237);
    border: none;
    margin-top: 10px;
    cursor: pointer;
  } 
  .footer2 {
    width: 76%;
    height: 30%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: #FFFFFF;
  }
   .footer2, .soc, .rights {
      display: flex;
     
  }
  .rights, .rights img {
      width: 20px;
      height: 20px;
  }
  .soc, .soc img {
    width: 18px;
    height: 18px;
  }
.arrow, .arrow img {
    width: 20px;
    height: 20px;
} 
.f, .i, .pin {
    margin-right: 10px;
}

/* .rigtxt {
display: flexbox;
    width: 60px;
    height: auto;
    background-color: blueviolet;
    font-size: 10px;
} */
.rights {
    margin-right: 490px;
}
.rigimg {
    width: 10px;
    height: 10px;
    margin-right: 0px;
    
}

.arrow img {
    width: 40px;
    height: 40px;
    margin-left: -150px;
     cursor: pointer;
}
.soc{
    cursor: pointer;
   
    margin-right: 100px;
}