#register {
    width: 100px;

}
/* yvela placeholders*/
.form-input {
    padding: 8px;
    outline: none;
    border: 2px solid gray;
    border-radius: 3px;
}
/* saxels da gvars vazlevt*/
.form-fill {
    width: 100%;
}
/* saxels da gvars vazlevt*/saxeli da gvari
.form-half {
    width: 30%;
}