.tweet  {
    width: 180px;
    border: 1px solid black; 
    border-radius: 2px;
    float: left;
    margin: 10px;
}
.logo {
    width: 40%;
    padding-left: 55px;
    padding-top: 20px;  
}
.logo img {
    width: 100%;
}
.info {
    text-align: center;
}
.info button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 30px;
    width: 150px;
    height: 25px;
    margin-bottom: 20px;
}

/*---instagram----*/

.insta {
    width: 180px;
   border: 1px solid black; 
   border-radius: 2px;
   color: white;
   background-color: rgb(219, 73, 97);
   float: left;
   margin: 10px;
}
.insta button {
    color: rgb(219, 73, 97);
    background-color: white;
}

/*---youtube---*/

.youtube {
    width: 180px;
    border: 1px solid black; 
    border-radius: 2px;
    float: left;
    margin: 10px;
    

}